<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} — Kiqr" : 'Kiqr' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap' %>
    <%= javascript_importmap_tags %>

    <style type="text/css">
    body { font-family: 'Ubuntu', sans-serif; }
    </style>
    <%= yield :head %>
  </head>
  <body class="bg-gray-50">
    <%= render 'shared/account_navbar' if account_signed_in? %>
    <div class="sticky top-0">
      <%= render 'shared/navbar' %>
    </div>

    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 py-6">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
