<% content_for :title, "Account settings" %>

<div class="grid grid-cols-4 gap-4">
  <div class="col-span-1">
    <%= render 'shared/account_sidebar' %>
  </div>
  <div class="bg-white border border-1 border-gray-200 rounded-lg col-span-3">
    <div class="flex flex-col space-y-1 px-8 py-4 border-b border-1 border-gray-200">
      <h1 class="font-bold text-lg text-gray-700">Members</h1>
      <h2 class="text-xs text-gray-500">Manage users in your organization</h2>
    </div>

    <table class="table-auto w-full text-left">
      <thead>
        <tr class="border-b border-1 border-gray-200 bg-gray-50 text-purple-500 text-xs">
          <th class="py-2 px-8">Email</th>
          <th class="py-2 px-8">Role</th>
          <th class="py-2 px-8 text-right"></th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
        <tr class="border-b border-1 border-gray-200 text-sm">
          <td class="py-4 px-8">
            <%= member.user.email %> <%= '<span class="text-xs text-purple-500 ml-2">(You)</span>'.html_safe if member.user == current_user %>
          </td>
          <td class="py-4 px-8">
            <%= member.role_name %>
          </td>
          <td class="py-4 px-8 text-right">
            <%= link_to 'Edit', '', class: 'text-xs bg-gray-400 text-white py-2 px-4 rounded-lg font-bold hover:bg-gray-500 transition' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>